{% extends 'user.html' %}
{% block content %}
    <h1>Address</h1>

    <p>Here are your addresses:</p>
    <ul>
        {% for direccion in direcciones %}
            <li>
                {{ direccion.calle1 }}, {{ direccion.calle2 }}<br>
                {{ direccion.ciudad }}, {{ direccion.pais }} {{ direccion.codigo_postal }}
                <form action="{{ url_for('delete_address') }}" method="POST" style="display:inline;">
                    <input type="hidden" name="direccion_id" value="{{ direccion.id }}">
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% else %}
            <li>You don't have any saved addresses.</li>
        {% endfor %}
    </ul>

    <button type="button" onclick="toggleFormulario()">Add new address</button>
    <div id="formulario-direccion" style="display: none;">
        <form action="/profile/address" method="POST">
            <label for="calle1">Address:</label>
            <input type="text" id="calle1" name="calle1" required><br>

            <label for="calle2">Apartment, suite, etc:</label>
            <input type="text" id="calle2" name="calle2"><br>

            <label for="ciudad">City:</label>
            <input type="text" id="ciudad" name="ciudad" required><br>

            <label for="pais">Country:</label>
            <select name="pais" id="pais" required>
                <option value="" disabled selected> Select a country </option>
                {% for code, country in countries %}
                    <option value="{{ code }}">{{ country }}</option>
                {% endfor %}
            </select><br>

            <label for="codigo_postal">ZIP/postal code:</label>
            <input type="text" id="codigo_postal" name="codigo_postal" required><br>

            <!-- user_id puede venir del backend si el usuario está autenticado -->
            <input type="hidden" name="user_id" value="{{ user_id }}">

        
        <!-- user_id puede venir del backend si el usuario está autenticado -->
        <input type="hidden" name="user_id" value="{{ user_id }}">

        <button type="submit">Save Address</button>
        </form>
    </div>

{% endblock %}