<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  {% block head %}{% endblock %}
</head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} fade show" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<script>
  setTimeout(() => {
    let alerts = document.querySelectorAll('.alert');
    alerts.forEach(alert => {
      alert.classList.remove('show');
      alert.classList.add('fade');
      setTimeout(() => alert.remove(), 500);
    });
  }, 3000);  // Desaparece después de 3 segundos
</script>

  <nav class="navbar">
    <a href="{{ url_for('index') }}">
      <img src="{{ url_for('static', filename='images/borisnacks.png') }}" alt="Logo" class="navbar-logo">
    </a>


    <ul class="navbar-items">
            
      <li class="dropdown">
        <div class="btn-products-container">
          <a href="#" class="button-products">Products</a>
          <i data-feather="chevron-down"></i>
        </div>
        <ul class="dropdown-menu">
          <li><a href="{{ url_for('snacks') }}">Snacks</a></li>
          <li><a href="{{ url_for('drinks') }}">Drinks</a></li>
          <li><a href="{{ url_for('candy') }}">Candy</a></li>
          <li><a href="{{ url_for('all_products') }}">All Products</a></li>
        </ul>
      </li>

      <li><a href="{{ url_for('carrito') }}" class="{% if request.endpoint == 'carrito' %}active{% endif %} active buttons">
        <i data-feather="shopping-cart"></i>
      </a></li>

      <li><a href="{{ url_for('usuario') }}" class="{% if request.endpoint == 'usuario' %}active{% endif %} active buttons">
        <i data-feather="user"></i>
      </a></li>
    </ul>
  </nav>

  <div class="main-content">
    {% block body %}
    {% endblock %}
  </div>
    
  <footer>
    <div class="footer">
      <div class="footer-blocks">
        <a href=""><img src="{{ url_for('static', filename='images/borisnacks.png') }}" alt="" class="navbar-logo"></a>
        <p class="copyright">
          Copyright &copy; <span class="year">2025</span> by BoriSnacks, Inc. <br>
          All rights reserved.
        </p>
      </div>

      <div class="footer-blocks">
        <p>Contact Us</p>
          <ul class="footer-links">
            <li>123 Avenida Bori, San Juan, PR 00926</li>
            <li><a href="#">415-201-6370</a></li>
            <li><a href="mailto:borisnacks2025@gmail.com">borisnacks2025@gmail.com</a></li>
          </ul>
      </div>

      <div class="footer-blocks">
        <p>Account & Info</p>
          <ul class="footer-links">
            <li><a href="/registro">Sign Up</a></li>
            <li><a href="/login">Log in</a></li>
            <li><a href="/about">About</a></li>
          </ul>
      </div>
    </div>
  </footer>

  <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
  <script src="https://unpkg.com/feather-icons"></script>
  <script>
    feather.replace();
  </script>
</body>
</html>