{% extends 'user.html' %}
{% block content %}

<div class="orders-section">
  <h3>My Orders</h3>
  {% if ordenes %}
  <ul class="orders-list">
    {% for orden in ordenes %}
      <li>
        <div class="order-item">
          <strong>Orden #{{ orden.id }}</strong>
          <div class="order-item-details">
            <div>
              <p>Total: ${{ orden.total }}</p>
              <p>Sent to: {{ orden.direccion }}</p>
            </div>
            <div>
              <p>Date: {{ orden.fecha }}</p>
              <p>Payment method: {{ orden.metodo_pago }}</p>
            </div>
          </div>
        </div>
        
      </li>
      <hr>
    {% endfor %}
  </ul>
  {% else %}
  <div class="no-orders-container">
    <p>You don't have any registered orders.</p>
  </div>
{% endif %}
</div>
{% endblock %}