<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/registro.css') }}">

    <title>BoriSnacks - Recover Account</title>
</head>
<body>
    <div class="section">
        <h2>Recover your Account</h2>

        <form action="{{ url_for('reset_password', token=token) }}" method="POST">
            <div>
                <label for="nueva_contraseña">New Password:</label>
                <input type="password" id="nueva_contraseña" name="nueva_contraseña" required>
            </div>
            <div>
                <button type="submit">Reset Password</button>
            </div>
        </form>
    </div>

</body>
</html>