{% extends 'base.html' %}

{% block head %}
<title>BoriSnacks - User</title>
{% endblock %}

{% block body %}
<div class="container user-container">
    <aside class="sidebar">
        <h2>Menu</h2>
        <ul class="sidebar-menu">
            <li><a href="{{ url_for('home') }}">Profile</a></li>
            <li><a href="{{ url_for('orders') }}">Orders</a></li>
            <li><a href="{{ url_for('address') }}">Address</a></li>
            <li><a href="{{ url_for('settings') }}">Settings</a></li>
        </ul>
    </aside>
    <main class="main-content-user">
        {% block content %}{% endblock %}
    </main>
</div>
{% endblock %}