html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  margin: 0px;
}

.section {
  padding: 20px;
}

.banner-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-container {
  width: 80%;
  overflow: hidden;
  display: flex;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
  width: 100%;
  flex: 0 0 100%;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}

.carousel-btn.left {
  left: 10px;
}

.carousel-btn.right {
  right: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between; /* Alinea los elementos a los extremos */
  align-items: center; /* Centra verticalmente */
  padding: 20px 20px; /* Añade un poco de espacio en los lados */
  position: fixed; /* Añadido para fijar la navbar en la pantalla */
  top: 0; /* Añadido para colocar la navbar en la parte superior */
  left: 0; /* Añadido para alinear la navbar a la izquierda */
  width: 100%; /* Añadido para que la navbar ocupe todo el ancho */
  background-color: white; /* Ajusta el color según prefieras */
  z-index: 1000; /* Añadido para asegurarse de que la navbar esté por encima de otros elementos */
}

.navbar-logo {
  width: 60px; /* Ajusta este valor según sea necesario */
  height: auto; /* Mantiene la proporción de la imagen */
}

.navbar-items {
  display: flex;
  list-style: none;
  margin-left: auto; /* Empuja los elementos a la derecha */
  padding-right: 30px;
}

/* Dropdown box */
.button-products {
  color: inherit;
  text-decoration: none;
  padding-top: 3px;
}

.btn-products-container {
  padding-right: 10px;
  display: flex;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: -25%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  min-width: 120px;
  list-style: none;
  z-index: 1000;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu li a {
  color: #333;
  text-decoration: none;
}

.dropdown-menu li a:hover {
  background-color: #f1f1f1;
}
/*  */

.nombreLogout {
  /* display: flex; */
  justify-content: space-between;
  /* margin-left: auto; */
}

.navbar-items i {
  font-size: 30px; /* Ajusta este valor según sea necesario */
  /* color: black; */
}

.buttons {
  padding: 20px;
}

.active {
  color: inherit; /* Mantiene el color original del enlace */
}

.tarjetas {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 20px;
  padding: 20px;
  white-space: nowrap;
}

.tarjetas-todos {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos pasen a la siguiente fila */
  justify-content: center; /* Centra los elementos horizontalmente */
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.tarjeta {
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: auto; /* Ajusta según el tamaño deseado */
  padding: 20px;

}

.tarjeta-producto {
  display: flex;
  flex-direction: column;
  background-color: #dedddd77;
  color: #333;

  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.product-buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.buttons-carro {
  margin-left: auto;
}

.product_img {
  width: 200px; /* Ajusta el tamaño según prefieras */
  height: auto;
  border-radius: 8px;
}

.btn-buy {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 21px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-buy:hover {
  background-color: #218838;
}

.btn-cart {
  background-color: #ffc107;
  color: black;
  border: none;
  padding: 10px 20px 7px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-cart:hover {
  background-color: #e0a800;
}

/* User section */

body {
  margin: 0;
  /* display: flex; */
}

.container {
  width: 100%;
}

.user-container {
  display: flex;
}

.sidebar {
  width: 220px;
  background-color: white;
  color: black;
  padding: 20px;
  min-height: 100vh;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
}

.sidebar a {
  color: black;
  text-decoration: none;
}

.main-content {
  flex: 1;
  padding: 90px 0px; /* Ajusta el padding superior según la altura del navbar */
  background-color: #ffffff;
}

.main-content-user {
  background-color: #e9e9e9;
  flex: 1;
  padding: 30px;
}

/* About Us */
.about {
  padding-bottom: 25px;
}

.about-section {
  background-color: #f9f9f9;
  padding: 25px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 900px;
}

.about-title {
  font-size: 24px;
  color: #333;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.about-text {
  font-size: 17px;
  line-height: 1.5;
  color: #444;
  margin-bottom: 15px;
}

.about-text strong {
  color: black;
}

.about-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* margin: 20px auto; */
}

.about-img {
  width: 950px; /* 100% del ancho de la ventana */
  height: auto; /* 100% de la altura de la ventana */
}

/* Cart section */
.cart-popup {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-size: 16px;
}

.cart-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 50px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 75%;
}

.cart-item {
  background-color: #dedddd77;
  padding: 20px;
  border-radius: 20px;
}

.cart-img {
  border-radius: 20px;
}

.cart-product {
  display: flex;
  gap: 50px;
}

.cart-details {
  
}

.cart-item-left-element {
  margin-left: auto;
}

/*  */

/* Footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 125px;
  background-color: #e9e9e9;
  color:#6f6f6f;
  margin-top: auto;
}

.footer-blocks {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.footer-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  /* margin-left: auto; */
  padding: 0px;
  gap: 10px;
}


.footer-links a {
  color: inherit; /* Hereda el color del texto padre */
  text-decoration: none; /* Elimina el subrayado */
}


.phone-email {
  display: flex;
  flex-direction: column;
  /* column-gap: 0.5px; */
}

.phone-email a {
  color: inherit;
  text-decoration: none;
}